.footer {
  background-color:  #8a9992;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 15px 25px
}

.footer__copyright {
  font-size: 13px;
  line-height: 16px;
}

.footer__subtitle {
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
}

.footer__nav {
    list-style: none;
}

.footer__link {
  font-size: 13px;
  line-height: 16px;
  text-decoration: none;
  color: #000;
}

.footer__link:hover {
font-weight: 500;
}
  
